<main class="">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-3">
      <div class="col-lg-5 text-center text-lg-start mb-3">
        <figure>
          <img src="https://mblogthumb-phinf.pstatic.net/MjAyMzExMjNfMTQ3/MDAxNzAwNzI0ODYwNjQ2.T1jUUJmENM9arwoNfmozgVPGYX0PxVck8KKosE2NKhYg.RaTrrtg00s-MWcJF5y2NJ6c7wAZ2WT7otNfjX0iozwEg.JPEG.spica0725/IMG_7286.jpg?type=w400" />
        </figure>
      </div>

      <div class="col-md-10 mx-auto col-lg-7 mb-5">
        <!-- Inspiration: https://codepen.io/abol/pen/arPeZz -->
        <h1 class="display-4">2226052 Lee Go Eun</h1>
        <p>
          Hello! My name is 2226052 Lee GoEun. I am a third grader at Korea National University of Transportation and I am taking various classes.
          One of my characteristics is the experience of temporarily protecting a dog named podo. Through this experience, I learned affection and responsibility for animals, and through that experience, I learned from various aspects of my life.
          Active, passionate, and introvert in personality, the MBTI personality type is INFP. Enjoys learning and exploring new things, and enjoys being creative and collaborating with people.
          I am striving to expand my knowledge through my studies and to acquire the ability to contribute socially. I will continue to work hard to show myself growing through new experiences and challenges. Thank you!
        </p>
      </div>
    </div>
  </div>
</main>
